header p {
    margin: 0.7rem;
}

#emptyCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 
#notEmptyCart {
    display: flex;
    justify-content: space-around;
} */

#cartCardBody {
    display: flex;
    flex-direction: column;
}

#cardFooter {
    margin-top: auto;
    align-self: flex-end;
}

#logInForm {
    display: flex;
    flex-direction: column;
}

#logInBtn {
    align-self: flex-end;
}

#signUpForm {
    display: flex;
    flex-direction: column;
}

#signUpForm h1 {
    align-self: center;
}

#signUpButton {
    align-self: flex-end;
}